nav{
  .nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 120px;
    top: 0;
     .nav-bar-top {
      height: 50px;
      width: 100%;
      margin-top: 40px;
      margin-left: 40px;
      opacity: 0.8;
    }
   .logo_pic {
     height: 80px;
     margin-right: 40px;
   }
    li {
      display: inline;
      cursor: pointer;
      // margin: 0 5em;
      // padding: 0 1em;

      i {
        padding: 10px;
      }
    }

    li:hover {
      background: #ffffff;
      border-radius: 10px;
    }

  }

}
